*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: rgb(33, 86, 201);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

header .logo span{
    color: yellow;
}

header .toggle{
    max-width: 60px;
    cursor: pointer;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}